 #main_menu{
            background:#000;
			opacity:0.9;
			}
.main_menu_bg{
    margin-top: 0px;
    background-color: transparent;
}
.main_menu_bg .navbar-default {
    background-color: transparent; 
    border-color: transparent; 
	
    transition: all .6s;
    margin: 15px auto;
}
.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus{
    color:#fff;
    font-weight: bold;
}
.main_menu_bg .navbar {}

.main_menu_bg .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:hover, .navbar-default .navbar-nav>.active>a:focus{
    color: #fff;
    background: transparent;
    font-weight: bold;
}

.main_menu_bg .navbar-nav>li>a {
    padding-top: 15px;
    padding-bottom: 20px;
	font-size:17px;
    color: #fff;
}

.mail{
	 color:white;
	 border:1px solid red;
	 background:red;
	 padding:5px;
	 width:98px;
	 opacity:0.7;
	 border-bottom-right-radius:8px;
	 border-top-right-radius:8px;
	 margin-top:20px;
	 font-size:17px;
	 position:fixed;
	 z-index:100;
	 transition:ease-in-out .6s;
}

.mail:hover{ 
   background:#cc0606;
   width:110px;
   transition:ease-in-out .6s;
}

#ninja-slider {
    width:100%;
    background:#011;
    padding: 10px 0;
    margin:0 auto;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider.fullscreen {
    background:#000;
}


#ninja-slider .slider-inner {
    max-width:710px;
	
	padding-top:27px;
    margin:0 auto;/*center-aligned */
    font-size:0px;
    position:relative;
    box-sizing:border-box;
}

#ninja-slider.fullscreen .slider-inner {
    width:95%;
    max-width:800px;
}

#ninja-slider ul {
    position:relative;
    list-style:none;
    padding:0;
    box-sizing:border-box;
}

#ninja-slider li {
    
    width:100%;
    height:100%;
    top:0;
    left:0;
    position: absolute;
    font-size:12px;
    list-style:none;
    margin:0;
    padding:0;
    opacity:0;
    overflow:hidden;
    box-sizing:border-box;
}

#ninja-slider li.ns-show {
    opacity:1;
}



/* --------- slider image ------- */  
#ninja-slider .ns-img {
    background-color:rgba(0,0,0,0.3);
    background-size:contain;/*Note: If transitionType is zoom, it will be overridden to cover.*/

    /*decorate border*/
    box-shadow: inset 0 0 2px rgba(255,255,255,.3);
    border-radius:6px;

    cursor:default;
    display:block;
    position: absolute;
    width:100%;
    height:100%;
	
    background-repeat:no-repeat;
    background-position:center center;
}


/*---------- Captions -------------------*/
#ninja-slider .caption {
    padding:20px 40px;
    margin:auto;
    left:0;right:0;
    top:auto;bottom:0px;
    width:auto;
    text-align:right;
    font-family:sans-serif;
    font-size:11px;
    color:rgba(255,255,255,0.2);
    background:none;
    /*background:rgba(0,0,0,0.12);*/
    position:absolute;
    box-sizing:border-box;
}
#ninja-slider li .cap1 {
    color:rgba(255,255,255,0.5);
    font:bold 32px arial;
    text-align:center;

    opacity:0;
    bottom:40%;
    -webkit-transition:bottom 1.3s, opacity 1s;
    transition:bottom 1.3s, opacity 1s;
}

/*The cap1 of the current slide */
#ninja-slider li[class*='-'] .cap1 {
    opacity:1;
    bottom:20%;
}
#ninja-slider li .cap2 {
    color:#ffff11;
    font-size:25px;
    bottom:15%;
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}

/*The cap2 of the current slide */
#ninja-slider li[class*='-s'] .cap2 {
    bottom:10%;
}


/* ---------Arrow buttons ------- */   
/* The arrow button id should be: slider id + ("-prev", "-next", and "-pause-play") */ 
#ninja-slider-pause-play { display:none;}  

#ninja-slider-prev, #ninja-slider-next
{
    position: absolute;
    display:inline-block;
    width:42px;
    height:56px;
    line-height:56px;
    top: 50%;
    margin-top:-51px;/*pager's height should also be counted*/
    background-color:rgba(0,0,0,0.4);
    background-color:#ccc\9;/*IE8 hack*/
    backface-visibility:hidden;
    color:white;
    overflow:hidden;
    white-space:nowrap;
    -webkit-user-select: none;
    user-select:none;
    border-radius:2px;
    z-index:10;
    opacity:0.3; 
    font-family:sans-serif;   
    font-size:13px;
    cursor:pointer;
    -webkit-transition:all 0.7s;
    transition:all 0.7s;
}

.slider-inner:hover #ninja-slider-prev, .slider-inner:hover #ninja-slider-next {
    opacity:1;
}


#ninja-slider-prev {
    left: -42px; /*set it with a positive value if .slider-inner does not have max-width setting.*/
}
#ninja-slider-next {
    right: -42px;
}

/* arrows */
#ninja-slider-prev::before, #ninja-slider-next::before {
    position: absolute;
    top: 17px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    border-left: 2px solid white;
    border-top: 2px solid white;
    backface-visibility:hidden;
}

#ninja-slider-prev::before {
    -ms-transform:rotate(-45deg);/*IE 9*/
    -webkit-transform:rotate(-45deg);
    transform: rotate(-45deg);
    right:4px;
}

#ninja-slider-next::before {
    -ms-transform:rotate(135deg);/*IE 9*/
    -webkit-transform:rotate(135deg);
    transform: rotate(135deg);
    left:4px;
}


/*pagination num within the arrow buttons*/
#ninja-slider-prev div, #ninja-slider-next div {display:none;}


/*------ pager(nav bullets) ------*/      
/* The pager id should be: slider id + "-pager" */
/* #ninja-slider-pager { display:none;}*/
#ninja-slider-pager
{
    padding-top:30px; /* set the distance away from the slider */
    margin:0 auto; /* center align */
    text-align:center;
    display:table;
    font-size:0;
}
         
#ninja-slider-pager a 
{
    display:inline-block;
    width: 10px;
    height: 10px;
    background-color: #CCC;
    font-size:0; /* Non-zero will show the index num */
    margin:2px 6px;
    cursor:pointer;
    border-radius:10px;
    box-shadow:inset 0 1px 3px #666666;
}

#ninja-slider-pager a:hover 
{
    opacity:0.6;
}
#ninja-slider-pager a.active 
{
    background-color:#1293dc;
    box-shadow:inset 0 1px 3px -1px #28b4ea,0 1px 1px rgba(0,0,0,.5);
}

#ninja-slider-pager, #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pause-play
{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none;
}


/*Responsive settings*/
@media only screen and (max-width:600px){

    #ninja-slider-prev, #ninja-slider-next, #ninja-slider-pager {
        display:none;
    }
    
    #ninja-slider li .cap1 {
        font-size:20px;
    }
}



   nav strong{
    color:White;
	font-size:26px;
	margin-left:22px;
	}
	nav strong:hover{text-shadow: 2px 2px 10px white;
	}
   nav a{
   font-size:20px;
   }
   nav a:hover{
    color:white;text-decoration:none;
	}
    .first{
    top:15%;left:3%; color:white; font-size:40px; position:absolute;text-shadow:7px 7px 18px white;
	animation: blinker 2s linear infinite;
   }
   @keyframes blinker{
     50% {opacity:0.5;}
	 }
   
   .cleancode{
	   background:url('clean_code.jpg');
	   background-size:cover;
	   color:#bba;
       font-size:17px;
	   padding:8% 10% 7% 14%;
	   line-height:30px;
   }
   .cleancode h1{
	   font-size:45px;
	   text-shadow:6px 8px 28px white;
	   color:white;
	   font-family:cursive;
   }
  .pic #pic2{
  padding-left:50px;}
   
   .second{
    bottom:3%;font-family:cursive; right:2%; color: #d2dad8; font-size:40px; position:absolute; text-shadow:10px 10px 13px orange;
   }

   .gallery{
	   margin-top:90px;
	   background:#f4f6f9;
	   margin-bottom:150px;
	   
   }
   .gallery .menu{
	 transition: all 1s ease-in-out;
	 opacity:1;
   }
   #gal{
	 border:3px solid #00004d;
	 border-radius:7px;
	 transition: all .7s ease-in-out;
	 opacity:1;
   }
   .menu p{
	   position:absolute;
	   margin-top:-227px;
	   margin-left:10px;
	   height:97%;
	   width:86%;
	   color: black;
	   font-size:21px;
	   text-shadow:5px 5px 8px white;
	   border-radius:7px;
	   border:3px solid #00004d;
	   transition: all .5s ease-in-out;
	   background:radial-gradient(#ffffb3,#ffff99,#a6ff4d,#80ff00,#66ff33);
	   text-align:centre;
	   transform:scale(0.7);
	   transition-delay:.1s;
	   opacity:0;
   }
   .menu:hover p{
	   opacity:0.7;
	   transform:scale(1);  
   }
   .menu:hover #gal{
	   opacity:0.4;
	   transform:scale(0.85) rotate(5deg); 
   }
  
.news{
background:url('gif6.gif');
color: #bba;
padding:5% 2% 10% 0%;
list-style:none;
}	
.news h1{ 
     color:white;
	 font-weight:bold;
	 animation: blinker 2s linear infinite;
}
@keyframes blinker{
	50%{opacity:0.5;}
}
.news-content h2{
	color:white;
}
.news-content a{
	color:#e7eedd; 
}
.news li{
	border:3px solid #002b80;
	background: #4d94ff;
	padding:10px;
	padding-right:7%;
	font-size:16px;
	font-family:cursive;
	transition: all .4s ease-in-out;
	
}
.news li:hover{
	background: #003380;
	color:white;
	padding-left:30px;
}
.news img{
	transition:ease-in-out 0.4s;
}
.news img:hover{
	border:4px solid #4d94ff;
	transform:scale(1.1);
    transition: ease-in-out 0.4s;
	overflow:hidden;
}
.pdf_download h1{
	text-align:center;
	color:blue;
	font-weight:bold;
	animation:blinker linear 1s infinite;
}
keyframes @blinker{
	50%{opacity:0.4;}
}
	
.pdf{
	border:2px solid blue;
	margin-top:20px;
	margin-bottom:20px;
	border-radius:10px;
	text-align:center;
    background:radial-gradient(#ff1a1a,#cc0000,#b30000);
	padding:5px;
	color:white;
}
.pdf:hover{
	background: #990000;
}
.pdf a{
	color:white;
	text-decoration:none;
}
	
.footer{ background:#232323; padding-bottom:20px; 
	  }
	.footer input,textarea{ background:#232323;border-color:#b3b3b3;color:white; }
	.footer1{ color:#ffffb3; }
	.footer .part1 h3{ color:#ffffb3;} 
    .part1{ margin-left:2.8%;border-style:dotted; }	
	.part1 label{ color:white; font-size:19px;}
	.part1 input{ height:35px; width:96%;border-radius:5px; }
	.part1 textarea{ height:100px; width:96%; border-radius:5px; }
	
	.link h3{ color: #ffffb3; }
	.link #me{ color:white; font-size:15px; margin-top:15px;}
    .link table td{
		height:38px; 
		width:110px;
		color:#eeaa99;
		text-align:center;
	}
	.link table td:hover{
		color:white;
		background:#4488ee;
	}
	.link table a{
	color:#eeaa99; }
	.link table a:hover{
		color:white;
		text-decoration:none;
	}
	
	.Address h3{ color:#ffffb3; }
	.Address #add{ margin-left:10px;color:white; font-size:17px;margin-top:15px; }
	.Address   i{ padding-right: 10px;font-size:2.4rem; }
	.Address #social_media i{ margin-top:50px; padding:8px;font-size:3.4rem; }
	.Address #social_media i:hover{ background:white; border-radius:8px; }
	
	
	
	.footer #copy{ color:white; font-size:12px; }
